p5/activity_recognition_exp
p5/datos_sensores.zip
Phones_accelerometer.csv
Phones_gyroscope.csv
Watch_accelerometer.csv
Watch_gyroscope.csv./p5/datos_sensores.zip
./p5/activity_recognition_exp/Phones_gyroscope.csv
./p5/activity_recognition_exp/Watch_accelerometer.csv
./p5/activity_recognition_exp/Watch_gyroscope.csv
./p5/activity_recognition_exp/Phones_accelerometer.csv
./p6/activity_recognition_exp/original/Phones_gyroscope.csv
./p6/activity_recognition_exp/original/Watch_accelerometer.csv
./p6/activity_recognition_exp/original/Watch_gyroscope.csv
./p6/activity_recognition_exp/original/Phones_accelerometer.csv
./p5/datos_sensores.zip
./p5/activity_recognition_exp/Phones_gyroscope.csv
./p5/activity_recognition_exp/Watch_accelerometer.csv
./p5/activity_recognition_exp/Watch_gyroscope.csv
./p5/activity_recognition_exp/Phones_accelerometer.csv
./.git/objects/pack/tmp_pack_zQWeWx
./p6/activity_recognition_exp/original/Phones_gyroscope.csv
./p6/activity_recognition_exp/original/Watch_accelerometer.csv
./p6/activity_recognition_exp/original/Watch_gyroscope.csv
./p6/activity_recognition_exp/original/Phones_accelerometer.csv
Watch_gyroscope.csv
Phones_gyroscope.parquet
Phones_accelerometer.parquet
Watch_accelerometer.parquet
Watch_gyroscope.parquet
**.parquet