#s-8f17b440-8828-4207-a253-a72e914aca97 > #backgroundBox {
  position: absolute;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Image_1 {
  position: absolute;
  width: 359.99999999999994px;
  height: 213.55560719938273px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Button_1 {
  position: absolute;
  width: 101.49999999999892px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 4px #A0A0A0);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Odor Mean Chey_30.0.0_google',Arial;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #004733;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Button_1 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Button_1 .paddingLayer {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Odor Mean Chey_30.0.0_google',Arial;
  font-size: 11.0pt;
  font-weight: 400;
  text-transform: uppercase;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Odor Mean Chey_30.0.0_google',Arial;
  font-size: 11.0pt;
  font-weight: 400;
  text-transform: uppercase;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Text_1 {
  position: absolute;
  width: 215.0px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Rowdies_17.0.0_google',Arial;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rowdies_17.0.0_google',Arial;
  font-size: 11.0pt;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 18px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Rowdies_17.0.0_google',Arial;
  font-size: 11.0pt;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 18px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Image_2 {
  position: absolute;
  width: 193.65890308039064px;
  height: 143.55560719938273px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Text_2 {
  position: absolute;
  width: 141.9999999999999px;
  min-height: 144.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maname_1.0.0_google',Arial;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Text_2 span {
  color: #081C15;
  text-align: left;
  text-decoration: none;
  font-family: 'Maname_1.0.0_google',Arial;
  font-size: 11.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #081C15;
  text-decoration: none;
  font-family: 'Maname_1.0.0_google',Arial;
  font-size: 11.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #s-Master_item_1 {
  position: absolute;
  width: 360.0px;
  height: 642.5050812741258px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Dynamic_panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_2 {
  width: 360.0px;
  height: 642.5050812741258px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(190,72,72,0.0);
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Dynamic_Panel_74 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_13 {
  width: 167.0px;
  height: 640.0000000000003px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_13 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_13 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_13 .verticalalign {
  vertical-align: top;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Rectangle_59 {
  position: absolute;
  width: 359.4999999999998px;
  min-height: 748.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Rectangle_59 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,0,0,0.15);
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Rectangle_59 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Rectangle_59 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Rectangle_59 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Rectangle_59 span#rtr-mi-b117329e-Rectangle_59_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Dynamic_Panel_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_14 {
  width: 313.0px;
  height: 752.0px;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 12px rgba(64,64,64,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_14 > .backgroundLayer > .colorLayer {
  background-color: #A5C1AE;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_14 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_14 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_14 .verticalalign {
  vertical-align: top;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Dynamic_Panel_71 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_105 {
  width: 313.0px;
  height: 56.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_105 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_105 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_105 .verticalalign {
  vertical-align: top;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Table_11 {
  position: absolute;
  width: 313.0px;
  height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_102 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_102 td.layout {
  padding: 0px 0px 0px 18px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_102 .verticalalign {
  vertical-align: middle;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_102 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_102 {
  width: 100.0%;
  height: 99.99999999999984%;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_102 .Cell_102 > * {
  margin-right: 21px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_102 .Cell_102 > *:last-child {
  margin-right: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_102 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Path_73 {
  width: 20.0px;
  height: 17.0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_27 {
  width: 73.3740234375px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_27 span#rtr-mi-b117329e-Paragraph_27_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Dynamic_Panel_75 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_108 {
  width: 313.0px;
  height: 56.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_108 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_108 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_108 .verticalalign {
  vertical-align: top;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Table_12 {
  position: absolute;
  width: 313.0px;
  height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_103 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_103 td.layout {
  padding: 0px 0px 0px 18px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_103 .verticalalign {
  vertical-align: middle;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_103 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_103 {
  width: 100.0%;
  height: 99.99999999999984%;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_103 .Cell_103 > * {
  margin-right: 20px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_103 .Cell_103 > *:last-child {
  margin-right: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_103 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Image_6 {
  width: 22.999999999999943px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_28 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_28 span#rtr-mi-b117329e-Paragraph_28_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Dynamic_Panel_76 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_109 {
  width: 313.0px;
  height: 56.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_109 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_109 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_109 .verticalalign {
  vertical-align: top;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Table_13 {
  position: absolute;
  width: 313.0px;
  height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_148 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_148 td.layout {
  padding: 0px 0px 0px 18px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_148 .verticalalign {
  vertical-align: middle;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_148 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_148 {
  width: 100.0%;
  height: 99.99999999999984%;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_148 .Cell_148 > * {
  margin-right: 17px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_148 .Cell_148 > *:last-child {
  margin-right: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_148 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Image_7 {
  width: 32.00000000000003px;
  height: 32.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_30 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_30 span#rtr-mi-b117329e-Paragraph_30_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Dynamic_Panel_77 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_110 {
  width: 313.0px;
  height: 56.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_110 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_110 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_110 .verticalalign {
  vertical-align: top;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Table_14 {
  position: absolute;
  width: 313.0px;
  height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_150 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_150 td.layout {
  padding: 0px 0px 0px 18px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_150 .verticalalign {
  vertical-align: middle;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_150 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_150 {
  width: 100.0%;
  height: 99.99999999999984%;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_150 .Cell_150 > * {
  margin-right: 20px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_150 .Cell_150 > *:last-child {
  margin-right: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_150 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Path_20 {
  width: 18.449999999999996px;
  height: 18.967581909688953px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_38 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_38 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_38 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_38 span#rtr-mi-b117329e-Paragraph_38_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Dynamic_Panel_78 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_111 {
  width: 313.0px;
  height: 56.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_111 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_111 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Panel_111 .verticalalign {
  vertical-align: top;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Table_15 {
  position: absolute;
  width: 313.0px;
  height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_151 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_151 td.layout {
  padding: 0px 0px 0px 18px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_151 .verticalalign {
  vertical-align: middle;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_151 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_151 {
  width: 100.0%;
  height: 99.99999999999984%;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_151 .Cell_151 > * {
  margin-right: 17px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_151 .Cell_151 > *:last-child {
  margin-right: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Cell_151 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Image_8 {
  width: 24.000000000000057px;
  height: 26.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_48 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_48 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_48 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Paragraph_48 span#rtr-mi-b117329e-Paragraph_48_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 #mi-b117329e-Path_149 {
  position: absolute;
  width: 18.000000000000057px;
  height: 11.371970273889954px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8f17b440-8828-4207-a253-a72e914aca97 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}