.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  position: relative;
  justify-content: space-between;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
}

.navbar-title {
  display: flex;
  align-items: center;
  color: white;
}

.home-icon {
  font-size: 32px;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
}

.navbar-title-text {
  font-family: "Off", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  user-select: none;
  margin-top: 5px;
}

.vertical-line {
  width: 2px;
  height: 40px;
  background-color: white;
  margin-right: 10px;
  margin-left: 25px;
  user-select: none;
}

.settings-menu ul {
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

.settings-menu li {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
}

.settings-menu li:hover {
  background-color: rgba(255, 255, 255, 0.712);
}

.settings-icon {
  color: #ffffff;
  font-size: 32px;
  cursor: pointer;
  padding-top: 10%;
  padding-bottom: 10%;
  user-select: none;
  margin-left: 10px;
}

.settings-menu li:hover {
  padding: 10px 20px;
  cursor: pointer;
  color: black;
}

.settings {
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin-right: 1%;
}

.settings-menu {
  position: absolute;
  top: 100%;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 10;
  user-select: none;
}

.languages-menu {
  position: absolute;
  left: -100px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  z-index: 10;
  user-select: none;
}

.languages-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.languages-menu li {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
}

.languages-menu li:hover {
  background-color: rgba(255, 255, 255, 0.712);
}

@keyframes blink {
  0%,
  100% {
    color: black;
  }
  50% {
    color: red;
  }
}

@keyframes blink {
  0%,
  100% {
    color: black;
  }
  50% {
    color: red;
  }
}

.blinking {
  animation: blink 1s infinite;
}
